rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function getUserData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }

    function isAdmin() {
      return isSignedIn() && getUserData().role == 'admin';
    }

    function isInspector() {
      return isSignedIn() && getUserData().role == 'inspector';
    }
    
    function isAssignedInspector(workOrderId) {
      let workOrder = get(/databases/$(database)/documents/workOrders/$(workOrderId)).data;
      return workOrder.inspectorId == request.auth.uid;
    }

    match /users/{userId} {
      allow read, write: if isOwner(userId) || isAdmin();
    }
    
    match /{path=**}/components/{componentId} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /clients/{clientId} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /equipment/{equipmentId} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /inspections/{inspectionId} {
      allow read: if isSignedIn();
      // Allow assigned inspector to create/update, admin can do anything.
      allow write: if isAdmin() || isInspector();
    }

    match /workOrders/{workOrderId} {
      // Admins can read all. Non-admins can only read if they are the assigned inspector.
      allow read: if isAdmin() || (request.auth.uid == resource.data.inspectorId);
      
      // Admins can create and delete work orders.
      allow create, delete: if isAdmin();
      
      // An assigned inspector can update a work order (e.g., to 'Concluida'), as can an admin.
      allow update: if isAdmin() || isAssignedInspector(workOrderId);
    }
  }
}
